<ion-view view-title="CREATE A NEW ACCOUNT">
    <ion-content>
        <form ng-submit="signUp()">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" ng-model="loginData.username" placeholder="{{'email' | translate}}">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-model="loginData.password" placeholder="{{'password' | translate}}">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-model="loginData.password" placeholder="{{'confirm_password' | translate}}">
                </label>

                <label class="item item-checkbox">
                    <span class="checkbox"> <input type="checkbox"></span>
                    Yes, I consent to the Privacy policy.
                </label>
            </div>
            <a class="button button-block button-positive" href="#/blade/account/signUp">{{ 'sign_up' | translate }}</a>
        </form>
    </ion-content>
</ion-view>