    <ion-modal-view class="blade-modal">
        <ion-header-bar>
            <h1 class="title"><b>棉质印花衬衫</b></h1>
            <div class="buttons">
                <button class="button  button-icon icon ion-ios-close-empty" ng-click="closeModal()"></button>
            </div>
        </ion-header-bar>
        <div class="bar bar-subheader">
            <h3 class="title">Sub Header</h3>
        </div>
        <ion-content>
                <div class="list">
                    <div class="item item-divider">
                        描述
                    </div>
                    <div class="item">
                        <p><b>注释：</b>img 元素中的 "usemap" 属性引用 map 元素中的 "id" 或 "name" 属性（根据浏览器），所以我们同时向 map 元素添加了 "id" 和 "name" 属性。</p>
                    </div>
                    <div class="item item-divider">
                        细节
                    </div>
                    <div class="item">
                        100& 棉花
                    </div>
                    <div class="item">
                       40度洗衣机
                    </div>
                    <div class="item">
                        商品号 9527
                    </div>
                </div>
        </ion-content>
    </ion-modal-view>